.header {
	background-color: rgb(41, 144, 234);
	height: 2em;
	color: white;	
	font-size: bold;
	padding: 5px;
}


.fl {
	float:left;
}

.editBar, .editBar:hover {
	background-color: #2C3E50;
	width: 20em;
	height:100%;
}
.editSection {
	width:inherit;

}

.editSectionLabel, .editSectionLabel:hover, .editSectionLabel:focus .editSectionLabel:active {
	background-color: #4F657B;
	text-align: center;

	color: #97AEC5;

}

.editSectionContainer .btn, .editSectionContainer .btn:hover{
	max-height: 3em;
	background-color: #518DCA;
	color: white;
}
.editSectionContainer input, .editSectionContainer button {
	border: none;
} 

.page-create-label {
	margin: 5px;
	height: 3em;
}


.element-draggable {
	background-color: #34485C;
	color: #5B738A;
	height: 3em;
	text-align: center;
	width: 8em;
	border: 1px;
	border-color: #263746
}