<div class="editSection fl">
	<div class="editSectionLabel">ELEMENTS</div>
	<div class="editSectionContainer fl">
		<div>
			<div class="element-draggable title-drag fl" data-type="title"><img src="resources/Sprites/titleSprite.png"/><div class="element-label">TITLE</div></div>
			<div class="element-draggable text-drag fl" data-type="text"><img src="resources/Sprites/textSprite.png"/><div class="element-label">TEXT</div></div>
		</div>
		<div>
			<div class="element-draggable image-drag fl" data-type="image"><img src="resources/Sprites/imageSprite.png"/><div class="element-label">IMAGE</div></div>
			<div class="element-draggable nav-drag fl" data-type="nav"><img src="resources/Sprites/navSprite.png"/><div class="element-label">NAV</div></div>
		</div>
	</div>
</div>