<div>
	<div class="header span12">Weebly</div>
	<div class="editBar span4 fl">
		<div class="editSection fl">
			<div class="editSectionLabel">TEMPLATES</div>
			<div class="editSectionContainer fl">
				<div class="btn-group page-create-label" role="group" aria-label="...">
				  <input type="text" class="new-page-name btn btn-default " value="Page"></input>
				  <button type="button" class="btn btn-default page-create"> + </button>

				</div>
			</div>
		</div>
		<div class="editSection fl">
			<div class="editSectionLabel">ELEMENTS</div>
			<div class="editSectionContainer fl">
				<div>
					<div class="">TITLE</div>
					<div class="">TEXT</div>
				</div>
				<div>
					<div class="">IMAGE</div>
					<div class="">NAV</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pageContainer span9 offset5">
	CONTAINER
	</div>
</div>