<div class="header span12">Weebly</div>
		<div class="editBar span4 fl">
			<div class="editSection fl">
				<div class="editSectionLabel">TEMPLATES</div>
				<div class="editSectionContainer">
					<div class="btn-group" role="group" aria-label="...">
					  <button type="button" class="btn btn-default">Page</button>
					  <button type="button" class="btn btn-default page-delete"> X </button>
					</div>
				</div>
			</div>
		</div>
		<div class="pageContainer span9 offset5">
		CONTAINER
		</div>